<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista Przepisów</title>
</head>
<body>
<h1>Lista Przepisów</h1>

<table>
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>Opis</th>
        <th>Komentarze</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterujemy przez przepisy i wyświetlamy informacje o nich -->
    <th:each var="recipe" items="${recipes}">
        <tr>
            <td>${recipe.title}</td>
            <td>${recipe.description}</td>
            <td>
                <!-- Formularz do dodawania komentarzy -->
                <form th:object="${newComment}" th:action="@{/recipes/addComment}" method="post">
                    <input type="hidden" th:field="*{recipe.id}" th:value="${recipe.id}" />
                    <textarea th:field="*{content}" placeholder="Dodaj komentarz" required></textarea>
                    <button type="submit">Dodaj komentarz</button>
                </form>
            </td>
        </tr>
    </th:each>
    </tbody>
</table>
</body>
</html>
