<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Startowa</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>Witaj na Stronie Startowej</h1>
</header>
<nav>
    <ul>
        <li><a href="/addRecipe/createRecipe">Dodaj przepis</a></li>
        <li><a href="/contact">Kontakt</a></li>
        <li><a href="/userRecipe/list">Własne przepisu</a></li>
        <li><a href="/usersRecipes/list">Przepisy, komentarze, oceny</a></li>
        <li><a href="/logout">Wyloguj</a></li>
    </ul>
</nav>
</body>
</html>